{% extends 'adminBase.html.twig' %}
{% block title %}Kontrollpanel{% endblock %}
{% block body %}
    <div class="control-panel">
        <div class="row progressbar">
            <div class="small-2 columns small-offset-1 step" id="step-progressbar-0">
                <div class="ring-container">
                    <div class="outer-ring"><div class="inner-ring"></div></div>
                </div>
                <div class="line-container">
                    <div class="line">
                        <div class="fill"></div>
                    </div>
                </div>
            </div>
            <div class="small-2 columns step" id="step-progressbar-1">
                <div class="ring-container">
                    <div class="outer-ring"><div class="inner-ring"></div></div>
                </div>
                <div class="line-container">
                    <div class="line">
                        <div class="fill"></div>
                    </div>
                </div>
            </div>
            <div class="small-2 columns step" id="step-progressbar-2">
                <div class="ring-container">
                    <div class="outer-ring"><div class="inner-ring"></div></div>
                </div>
                <div class="line-container">
                    <div class="line">
                        <div class="fill"></div>
                    </div>
                </div>
            </div>
            <div class="small-2 columns step" id="step-progressbar-3">
                <div class="ring-container">
                    <div class="outer-ring"><div class="inner-ring"></div></div>
                </div>
                <div class="line-container">
                    <div class="line">
                        <div class="fill"></div>
                    </div>
                </div>
            </div>
            <div class="small-2 columns end step" id="step-progressbar-4">
                <div class="ring-container">
                    <div class="outer-ring"><div class="inner-ring"></div></div>
                </div>
                <div class="line-container">
                    <div class="line">
                        <div class="fill"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row step-spacing"></div>
        <div class="row">
            <div class="small-2 columns small-offset-1 step-box {% if step < 1 %}step-active{% else %}step-completed{% endif %}">
                <h4>Nytt semester</h4>
                {% if step < 1 %}
                    <p><a href="{{ path('semesteradmin_show') }}">Opprett semester</a></p>
                {% else %}
                    <p>Semesteret er underveis</p>
                {% endif %}
            </div>

            <div class="small-2 columns step-box {% if step < 3 and step >= 1 %}step-active{% elseif step >= 3 %}step-completed{% endif %}">
                <h4>Opptak</h4>
                {% if step >= 1 and step < 2 %}
                    {% if time_to_admission_start < 24 %}
                        {% if time_to_admission_start == 1 %}
                            <p>{{ time_to_admission_start }} time til opptaket starter!!</p>
                        {% else %}
                            <p>{{ time_to_admission_start }} timer til opptaket starter!</p>
                        {% endif %}
                    {% else %}
                        {% if time_to_admission_start // 24 == 1 %}
                            <p>{{ time_to_admission_start // 24 }} dag til opptaket starter!</p>
                        {% else %}
                            <p>{{ time_to_admission_start // 24 }} dager til opptaket starter!</p>
                        {% endif %}
                    {% endif %}
                {% elseif step >= 2 and step < 3  %}
                    {% if admission_time_left < 24 %}
                        {% if admission_time_left == 1 %}
                            <p>{{ admission_time_left }} time igjen</p>
                        {% else %}
                            <p>{{ admission_time_left }} timer igjen</p>
                        {% endif %}
                    {% else %}
                        {% if admission_time_left // 24 == 1 %}
                            <p>{{ admission_time_left // 24 }} dag igjen</p>
                        {% else %}
                            <p>{{ admission_time_left // 24 }} dager igjen</p>
                        {% endif %}
                    {% endif %}
                    <p><a href="{{ path('admissionadmin_show') }}">Nye søkere</a></p>
                {% else %}
                    <p>Opptaket er stengt</p>
                    {% if step >= 2 %}
                        <p>{{ totalApplicationsCount }} søkere</p>
                    {% endif %}
                    <p><a href="{{ path('admissionadmin_show') }}">Nye søkere</a></p>
                {%  endif %}
            </div>

            <div class="small-2 columns step-box {% if step < 4 and step >= 3 %}step-active{% elseif step >= 4 %}step-completed{% endif %}">
                <h4>Intervju</h4>
                {% if step < 4 and step >= 3 and (totalInterviewsCount == 0)==false %}
                    <p>Intervjuet  {{ interviewedAssistantsCount }}/{{ totalInterviewsCount }}</p>
                {% elseif step >= 4 %}
                    {{ totalInterviewsCount }} intervjuer
                {% endif %}
                <p><a href="{{ path('admissionadmin_show') }}">Fordel intervjuer</a></p>

                <p><a href="{{ path('admissionadmin_show', {'status':'assigned'})}}">Utfør intervju</a></p>

                <p><a href="{{ path('teamadmin_show') }}">Opprett team-medlem</a></p>
            </div>

            <div class="small-2 columns step-box {% if step < 5 and step >= 4 %}step-active{% elseif step >= 5 %}step-completed{% endif %}">
                <h4>Fordel</h4>
                {% if step >= 4 and step < 5 %}
                    {% if (totalAssistantsCount == 0)==false %}
                        <p>Fordelt {{ allocatedAssistantsCount }}/{{ totalAssistantsCount }}</p>
                    {% endif %}
                {% elseif step >= 5 %}
                    <p>{{ totalAssistantsCount }} fordelt</p>
                {% endif %}
                <p></p><a href="{{ path('schooladmin_show_users_of_department', {'id': app.user.fieldOfStudy.department.id}) }}">Fordel assistenter</a></p>
            </div>
            <div class="small-2 columns end step-box  {% if step >= 5 %} step-active {% endif %}">
                <h4>Drift</h4>
                <p><a href="{{ path('articleadmin_show') }}">Artikler</a></p>
                <p><a href="{{ path('members_show') }}">Assistenter</a></p>
                <p><a href="{{ path('surveys') }}">Undersøkelser</a></p>
                <p><a href="{{ path('sponsors_edit') }}">Sponsorer</a></p>
            </div>

        </div>

        <div class="row">
            <h2>Artikkel</h2>

            <div class="small-4 medium-3 large-2 columns">
                <div class="control-panel-item">
                    <a href="{{ path('articleadmin_show') }}">
                        <i class="fa fa-sticky-note fa-3x"></i>

                        <p>Artikler</p>
                    </a>
                </div>
            </div>

            <div class="small-4 medium-3 large-2 columns">
                <div class="control-panel-item">
                    <a href="{{ path('articleadmin_create') }}">
                        <i class="fa fa-plus-square fa-3x"></i>

                        <p>Ny artikkel</p>
                    </a>
                </div>
            </div>
            <hr/>
        </div>

        <div class="row">
            <h2>Brukere</h2>

            <div class="small-4 medium-3 large-2 columns">
                <div class="control-panel-item">
                    <a href="{{ path('useradmin_show') }}">
                        <i class="fa fa-users fa-3x"></i>

                        <p>Brukere</p>
                    </a>
                </div>
            </div>
            <div class="small-4 medium-3 large-2 columns">
                <div class="control-panel-item">
                    <a href="{{ path('participanthistory_show') }}">
                        <i class="fa fa-history fa-3x"></i>

                        <p>Deltakerhistorikk</p>
                    </a>
                </div>
            </div>

            <div class="small-4 medium-3 large-2 columns">
                <div class="control-panel-item">
                    <a href="{{ path('substitute_show') }}">
                        <i class="fa fa-user-secret fa-3x"></i>

                        <p>Vikarer</p>
                    </a>
                </div>
            </div>
            <div class="small-4 medium-3 large-2 columns">
                <div class="control-panel-item">
                    <a href="{{ path('teamadmin_show') }}">
                        <i class="fa fa-smile-o fa-3x"></i>

                        <p>Team</p>
                    </a>
                </div>
            </div>
            <div class="small-4 medium-3 large-2 columns">
                <div class="control-panel-item">
                    <a data-dropdown="superadminCreateUser" aria-controls="superadminCreateUser" aria-expanded="false">
                        <i class="fa fa-user-plus fa-3x"></i>

                        <p>Ny bruker</p>
                    </a>
                    <ul id="superadminCreateUser" class="f-dropdown mini" data-dropdown-content tabindex="-1"
                        aria-hidden="true"
                        aria-autoclose="false" tabindex="-1">

                        {% for d in departments %}

                            <li>
                                <a href="{{ path('useradmin_create_user_superadmin', { 'id': d.id }) }}">{{ d.shortName }}</a>
                            </li>

                        {% endfor %}

                    </ul>
                </div>
            </div>
            <hr/>
        </div>


        <div class="row">
            <h2>Opptak & Undersøkelse</h2>

            <div class="small-4 medium-3 large-2 columns">
                <div class="control-panel-item">
                    <a href="{{ path('admissionadmin_show') }}">
                        <i class="fa fa-upload fa-3x"></i>

                        <p>Opptak</p>
                    </a>
                </div>
            </div>

            <div class="small-4 medium-3 large-2 columns">
                <div class="control-panel-item">
                    <a href="{{ path('interview_schema') }}">
                        <i class="fa fa-comments fa-3x"></i>

                        <p>Intervjuskjemaer</p>
                    </a>
                </div>
            </div>

            <div class="small-4 medium-3 large-2 columns">
                <div class="control-panel-item">
                    <a href="{{ path('surveys') }}">
                        <i class="fa fa-comment fa-3x"></i>

                        <p>Undersøkelser</p>
                    </a>
                </div>
            </div>

            <div class="small-4 medium-3 large-2 columns">
                <div class="control-panel-item">
                    <a href="{{ path('statistics_application') }}">
                        <i class="fa fa-bar-chart fa-3x"></i>

                        <p>Statistikk</p>
                    </a>
                </div>
            </div>
            <hr/>
        </div>

        <div class="row">
            <h2>Diverse</h2>

            <div class="small-4 medium-3 small-4 medium-3 large-2 columns">
                <div class="control-panel-item">
                    <a href="{{ path('departmentadmin_show') }}">
                        <i class="fa fa-industry fa-3x"></i>

                        <p>Avdeling</p>
                    </a>
                </div>
            </div>

            <div class="small-4 medium-3 large-2 columns">
                <div class="control-panel-item">
                    <a href="{{ path('semesteradmin_show') }}">
                        <i class="fa fa-clock-o fa-3x"></i>

                        <p>Semester</p>
                    </a>
                </div>
            </div>

            <div class="small-4 medium-3 large-2 columns">
                <div class="control-panel-item">
                    <a href="{{ path('schooladmin_show') }}">
                        <i class="fa fa-graduation-cap fa-3x"></i>

                        <p>Skole</p>
                    </a>
                </div>
            </div>

            <div class="small-4 medium-3 large-2 columns">
                <div class="control-panel-item">
                    <a href="{{ path('sponsors_edit') }}">
                        <i class="fa fa-money fa-3x"></i>

                        <p>Sponsorer</p>
                    </a>
                </div>
            </div>

            <div class="small-4 medium-3 large-2 columns">
                <div class="control-panel-item">
                    <a href="{{ path('certificate_show') }}">
                        <i class="fa fa-sticky-note-o fa-3x"></i>

                        <p>Attest</p>
                    </a>
                </div>
            </div>
            <hr/>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function(){
            var step = {{ step }};
            if(step < 0){
                return;
            }
            if(step > 0){
                step -= 1;
            }
            var round_step = Math.floor(step);
            var percentage = (step-round_step)*100;
            for (i = 0; i <= 5; i++) {
                if(i>round_step) {
                    $("#step-progressbar-" + i + " > .line-container > .line > .fill").width("0");
                }
                else if(i<round_step){
                    $("#step-progressbar-" + i + " > .line-container > .line > .fill").width("100%");
                }
                else{
                    $("#step-progressbar-" + i + " > .line-container > .line > .fill").width(percentage + "%");
                }
                if(i<=round_step){
                    $("#step-progressbar-" + i + " > .ring-container > .outer-ring").addClass("fill");
                }
            }
        });

    </script>
{% endblock %}